<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LA3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LA_Entities" connectionString="metadata=res://*/Model.LA_Model.csdl|res://*/Model.LA_Model.ssdl|res://*/Model.LA_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=LoanArranger3_ef;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ReportFolder" value="c:\LA3_Reports_Temp" />-->
    <add key="ActionLogFolder" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="User" value="Kay" />-->
    <add key="AgreementsToPrint" value="3" />
    <add key="AgreementsToScreen" value="true" />
    <add key="ShowSateliteMenu" value="false" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="tdTraceSwitch" value="1" />
    </switches>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LA3Trace.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <LA3.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>Dev User</value>
      </setting>
      <setting name="AgreementsToPrint" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AgreementsToScreen" serializeAs="String">
        <value>True</value>
      </setting>
    </LA3.Properties.Settings>
  </applicationSettings>
</configuration>